.navigation {
  flex-basis: 100%;
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}
.search {
  flex-basis: 38%;
  height: 70%;
  /* border: 1px solid black; */
  display: flex;
  border-radius: 5px;
  /* background-color: white; */
  /* box-shadow: 1px solid black; */
  box-shadow: 0px 1px 2px hsl(0, 0%, 52%);
  align-items: center;
}
.search-mark {
  flex-basis: 10%;
  height: 60%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-mark-text {
  flex-basis: auto;
  height: auto;
  font-size: 20px;
  background-color: transparent;
  /* background-color: none; */
  /* border: 1px solid black; */
}
#search-countries {
  flex-basis: 85%;
  height: 60%;
  font-size: 15px;
  border: none;
  /* padding-left: 10px; */
  /* border: 1px solid black; */
}
.filter {
  flex-basis: 55%;
  height: 70%;
  /* border: 1px solid black; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  /* box-shadow: 0px 1px 2px hsl(0, 0%, 52%); */
}
/* .dropdowns {
  flex-basis: 30%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 2px hsl(0, 0%, 52%);
  padding-right: 15px;
  padding-left: 15px;
} */
/* #region-dropdown {
  flex-basis: 20%;
  border: 1px solid black;
} */
#subRegionsId {
  /* border: 1px solid black; */
  flex-basis: 25%;
}
/* #subregion-dropdown {
  flex-basis: 30%;
} */
/* .dropdowns:hover {
  cursor: pointer;
} */
.filter-text {
  flex-basis: 55%;
  height: 50%;
  /* border: 1px solid black; */
  font-size: 15px;
  font-weight: 600;
}
.filter-drop {
  flex-basis: 20%;
  height: 35%;
  text-align: end;
  font-size: 12px;
  /* border: 1px solid black; */
}
.dropdown-selects {
  flex-basis: 25%;
  height: 100%;
  border: none;
  font-size: 16px;
  /* border: 1px solid black; */
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0px 1px 2px hsl(0, 0%, 52%);
  appearance: none;
  /* /* padding-left: 10px; */
  padding-left: 20px;
  /* padding-right: -30px; */
  /* background-color: white; */
  /* box-shadow: 0px 1px 2px hsl(0, 0%, 52%); */
}
.dropdown-selects:hover {
  cursor: pointer;
}
.sort-icon {
  flex-basis: 3%;
  height: 70%;
  border: none;
  background-color: transparent;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  /* align-self: start; */
  /* justify-self: start; */
  justify-content: end;
}
.sort-icon:hover {
  cursor: pointer;
}
.sort-icon img {
  height: 30px;
  width: 40px;
  /* border: 1px solid black; */
}
/* .sort-dropdown {
  flex-basis: 20%;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  border: 1px solid black;
} */
#sortId {
  /* border: 1px solid black; */
  flex-basis: 25%;
}
.regionsDropDown {
  flex-basis: 100%;
  height: 10vh;
  /* border: 1px solid black; */
}
@media (max-width: 1200px) {
  .search {
    flex-basis: 35%;
  }
  .filter {
    flex-basis: 60%;
    /* border: 1px solid black; */
  }
  #regionId {
    flex-basis: 40%;
  }
}
@media (max-width: 1000px) {
  .navigation {
    height: 20%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    /* border: 1px solid black; */
  }
  .search {
    flex-basis: 100%;
    height: 35%;
  }
  .filter {
    flex-basis: 100%;
    height: 35%;
  }
  #sortId {
    /* border: 1px solid black; */
    flex-basis: 70%;
  }
  .sort-icon {
    flex-basis: 20%;
    height: 80%;
    /* border: 1px solid black; */
  }
  .dropdowns {
    /* flex-basis: 65%; */
    /* font-size: 14px; */
  }
}

@media (max-width: 650px) {
  .navigation {
    /* border: 1px solid black; */
    /* flex-basis: 50%; */
    height: 30%;
  }
  .search {
    height: 25%;
  }
  .filter {
    height: 50%;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    align-content: space-between;
  }
  #region-dropdown,
  #subregion-dropdown {
    flex-basis: 40%;
    height: 40%;
    /* border: 1px solid black; */
  }
  .sort-dropdown {
    flex-basis: 100%;
    height: 40%;
  }
  .sort-icon {
    /* border: 1px solid black; */
    flex-basis: 8%;
    height: 80%;
  }
  #sortId {
    flex-basis: 81%;
  }
}
@media (max-width: 600px) {
  #subregion-dropdown {
    flex-basis: 40%;
  }
  #region-dropdown {
    flex-basis: 40%;
  }
  .search-mark {
    flex-basis: 15%;
  }
}
@media (max-width: 450px) {
  .sort-icon {
    flex-basis: 10%;
  }
  .search-mark {
    flex-basis: 20%;
  }
  #subregion-dropdown,
  #region-dropdown {
    flex-basis: 35%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
